body{
    width:100vw;
    height:100vh;
    margin:0;
    display: flex;
    justify-content: center;
    z-index:-1;
    position: relative;
}
.left-div,.right-div{
    display: none;
    opacity:0;
    z-index:0;
    display:flex;
    width:50vw;
    height:100vh;
    margin:0;
}
.img{
    position: absolute;
    top:500px;
}
.js-form{
    position: absolute;
    top:200px;
}
span{
    position: absolute;
    top:350px;
}
.opacity{
    opacity:0;
}
a{
    z-index:99;
    position: absolute;
    top:10px;
    right:10px;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:70px;
    background-color: aqua;
    text-decoration:none;
}i{
    font-size:30px;
    font-weight: 800;
}